GO/****** Object:  StoredProcedure [dbo].[sp_TestRunRead]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestRunRead]	@TestRunId intASSET NOCOUNT ONSELECT [TestRunId], 	[TestId], 	[TestType], 	[ExpectedResult], 	[ActualResult], 	[Pass], 	[TestDate], 	[LeftParameter], 	[MiddleParameter], 	[RightParameter],		[Milliseconds],	[Parameters]FROM TestRunWHERE [TestRunId] = @TestRunIdSET NOCOUNT OFFGO