GO/****** Object:  StoredProcedure [dbo].[sp_TestDetailsInitalise]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOcreate PROC [dbo].[sp_TestDetailsInitalise]		@TestName nvarchar(50),	@WorkflowName nvarchar(500),	@ProcessType UniqueIdentifier			AS	INSERT INTO TestDetails (		[TestName],		[WorkflowName],		ProcessTypeID							)	VALUES (		@TestName,		@WorkflowName,		@ProcessType			)	SELECT SCOPE_IDENTITY() As InsertedIDGO