GO/****** Object:  StoredProcedure [dbo].[sp_TestRunCreateUpdate]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestRunCreateUpdate]	@TestRunId int,	@TestId int,	@TestToRun int,	@ExpectedResult nvarchar(100),	@ActualResult nvarchar(100),	@Pass bit,	@TestDate datetime,	@LeftParameter nvarchar(100),	@MiddleParameter nvarchar(100),	@RightParameter nvarchar(100)ASSET NOCOUNT ONIF @TestRunId = 0 BEGIN	INSERT INTO TestRun (		[TestId],		[TestToRun],		[ExpectedResult],		[ActualResult],		[Pass],		[TestDate],		[LeftParameter],		[MiddleParameter],		[RightParameter]	)	VALUES (		@TestId,		@TestToRun,		@ExpectedResult,		@ActualResult,		@Pass,		@TestDate,		@LeftParameter,		@MiddleParameter,		@RightParameter	)	SELECT SCOPE_IDENTITY() As InsertedIDENDELSE BEGIN	UPDATE TestRun SET 		[TestId] = @TestId,		[TestToRun] = @TestToRun,		[ExpectedResult] = @ExpectedResult,		[ActualResult] = @ActualResult,		[Pass] = @Pass,		[TestDate] = @TestDate,		[LeftParameter] = @LeftParameter,		[MiddleParameter] = @MiddleParameter,		[RightParameter] = @RightParameter	WHERE [TestRunId] = @TestRunIdENDSET NOCOUNT OFFGO