GO/****** Object:  StoredProcedure [dbo].[sp_TestRunPlanList]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestRunPlanList]@TestId int ASSET NOCOUNT ONSELECT [TestRunId], 	[TestId], 	[TestType], 	[ExpectedResult], 	[ActualResult], 	[Pass], 	[TestDate], 	[LeftParameter], 	[MiddleParameter], 	[RightParameter],		[Milliseconds],	[Parameters],	[Sign]FROM TestRunwhere testid = @TestIdSET NOCOUNT OFFGO