GO/****** Object:  StoredProcedure [dbo].[sp_TestProcessStart]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCreate Procedure [dbo].[sp_TestProcessStart]	@id int,	@ProcessInstanceId int,	@Folio nvarchar(50),	@Originator nvarchar(100),@StartedDate datetime,	@Started bitas	UPDATE TestDetails SET 			[ProcessInstanceId] = @ProcessInstanceId,		[Folio] = @Folio,		[Originator] = @Originator,		[Started] = @Started,		[StartedDate] = @StartedDate			WHERE [id] = @idGO