GO/****** Object:  StoredProcedure [dbo].[sp_TestDetailsList]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestDetailsList]ASSET NOCOUNT ONSELECT [id], 	[TestName], 	[WorkflowName], 	[ProcessTypeId], 	[ProcessInstanceId], 	[Folio], 	[Originator], 	[Started], 	[StartedDate], 	[Finished], 	[FinishedDate], 	[Status],	[Route]FROM TestDetailsSET NOCOUNT OFFGO