GO/****** Object:  StoredProcedure [dbo].[sp_TestRunPlanCreate]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE procedure [dbo].[sp_TestRunPlanCreate]@TestId int,	@TestType  nvarchar(100),	@ExpectedResult nvarchar(100),		@LeftParameter nvarchar(100),	@MiddleParameter nvarchar(100),	@RightParameter nvarchar(100),	@Milliseconds nvarchar(100),	@Parameters int,	@Sign nvarchar(50)as		INSERT INTO TestRun (		[TestId],		[TestType],		[ExpectedResult],			[LeftParameter],		[MiddleParameter],		[RightParameter],		Milliseconds,		[Parameters],		[Sign]	)	VALUES (		@TestId,		@TestType,		@ExpectedResult,				@LeftParameter,		@MiddleParameter,		@RightParameter,		@Milliseconds,		@Parameters,		@Sign	)	SELECT SCOPE_IDENTITY() As 'TestRunId'GO