GO/****** Object:  StoredProcedure [dbo].[sp_TestDetailsRead]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestDetailsRead]	@id intASSET NOCOUNT ONSELECT [id], 	[TestName], 	[WorkflowName], 	[ProcessTypeId], 	[ProcessInstanceId], 	[Folio], 	[Originator], 	[Started], 	[StartedDate], 	[Finished], 	[FinishedDate],	[Status],	[Route]FROM TestDetailsWHERE [id] = @idSET NOCOUNT OFFGO