GO/****** Object:  StoredProcedure [dbo].[sp_TestRunDelete]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOCREATE PROC [dbo].[sp_TestRunDelete]	@TestRunId intASSET NOCOUNT ONDELETE FROM TestRunWHERE [TestRunId] = @TestRunIdSET NOCOUNT OFFGO