GO/****** Object:  StoredProcedure [dbo].[sp_TestDetailsFinish]    Script Date: 07/03/2017 16:40:29 ******/SET ANSI_NULLS ONGOSET QUOTED_IDENTIFIER ONGOcreate procedure [dbo].[sp_TestDetailsFinish]@TestId intasDeclare @Pass bitDeclare @Fail bitDeclare @status bitSet @Pass = (select count(pass) from TestRun where TestId = @TestId and Pass = 1)Set @Fail = (select count(pass) from TestRun where TestId = @TestId and Pass = 0)if (@Pass > @Fail)beginSet @status = 1endelsebeginSet @Status = 0endUpdate TestDetailsset	[Finished] = 1, 	[FinishedDate] = GETDATE(),	[Status] = @status	FROM TestDetailsWHERE [id] = @TestIdSET NOCOUNT OFFGO